.item {
    border: 1px solid red;
    display: flex;
}

.item p {
    min-width: 20px;
    outline: none;
}

/* .item p:empty::after {
    content: attr(placeholder);
} */

.item input[type="checkbox"] {
    margin-right: 10px;
}

.crossed {
    text-decoration: line-through;
    color: grey;
}